
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Crimson Text', serif;
    background-color: aliceblue;
}

header {
    background-color: dimgrey;
    padding: 0.5rem 0;
}
header nav a:hover {
    text-decoration: underline;
}

.navbar ul {
    display: flex;
    padding: 0 0 0 80px;
}

.navbar li{
    list-style-type: none;
    font-size: 1.5rem;
    padding: 10px 10px 10px 10px;
}
header h1 {
      margin: 0;
      padding: 0 0 0 80px;
  }

header a {
    text-decoration: none;
    color: inherit;
}

main {

    padding: 0 0 0 80px;
    background-color: pink;
    min-height: 350px;
}


footer {
    padding: 1rem 0;
    text-align: center;
    background-color: #EDDCD2;
}

.alert {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    text-align: center;
}
.alert-success {
    background-color: #a2a232;
}
.alert-error {
    background-color: #d4550e;
}

/* formulaires */

label {
    display: block;
}

input,
textarea,
select{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;
}
button {
    padding: 0.5rem 0.7rem;
    font-family: inherit;
}

.flash{
    padding:20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {
    background-color: greenyellow;
}