{% extends 'base.html.twig' %}

{% block body %}
<h2>All wishes</h2>

    <section>
        {% for wish in wishes %}
        <article>
            <a href="{{ path('wish_detail',{id:wish.id}) }}" title="view wishes details">{{ wish.title }}  [{{ wish.category.name }}]</a>
        </article>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
All wishes | {{ parent() }}
{% endblock %}

